body {
background-color: #1d1d1d;
color: #fff;
margin-top: 100px;
margin-bottom: 100px;
margin-left: 300px;
margin-right: 150px;
}

.w3-container{
    display: flex;
    column-gap: 50px;
    position: relative;
    align-content: space-around;
    inline-size: auto;
}

.container{
    display: flex;
    column-gap: 200px;
}
#movie-description{
    width: 600px;
}

#movie-trailer{
    padding-top: 100px;
}

#movie-poster{
    padding-top: 70px;
}

#avatar-cate{
    text-align: center;
    border-radius: 60%;
    width: 50px;
    height: 60px;
}
.cate{
    color: white;
}
.cate:hover{
    color: red;
}
#avatar-vigo{
    text-align: center;
    border-radius: 60%;
    width: 50px;
    height: 60px;
}
.vigo{
    color: white;
}
.vigo:hover{
    color: red;
}

#avatar-liv{
    text-align: center;
    border-radius: 60%;
    width: 50px;
    height: 60px;
}

.liv{
    color: white;
}
.liv:hover{
    color: red;
}
#avatar-orlando{
    text-align: center;
    border-radius: 60%;
    width: 50px;
    height: 60px
}
.orlando{
    color: white;
}
.orlando:hover{
    color: red;
}

#unordered-list{
    list-style: none;
}