body {
background-color: #1d1d1d;
color: #fff;
margin-bottom: 100px;
}

#search{
    background-color: #1d1d1d;
    padding: 17px;
    padding-left: 55px;
    width: 300px;
    border: 1px solid #f5f5f5;
    font-size: 13px;
    color: gray;
    float: right;
}

.search{
    background-image: url(Images/search\ icon.png);
    background-repeat: no-repeat;
}
.topnav {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    top: 0;
    z-index: 8;
    background: #1d1d1d;
    overflow: hidden;
    color: #919191;
    border-bottom: 1px solid #2f2f2f;
    backface-visibility: hidden;
}

.topnav a {
    color: #919191;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    float: right;

}
.topnav a:hover{
    color: white;
}

.w3-container{
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
}

.container{
    display: flex;
    column-gap: 200px;
    max-width: 1300px;
    margin-left: 200px;
}
#movie-title{
    width: 33%;
    display: flex;
    text-align: center;
    padding-left: 50px;
}
#movie-trailer{
    padding-top: 100px;
    width: 33%;
}

#movie-poster{
    width: 33%;
    max-width: 350px;
    min-width: 350px;
}

#movie-description{
    width: auto;
    width: 50%;
    text-align: left;
}

#avatar-cate{
    
    border-radius: 60%;
    width: 50px;
    height: 60px;
}
.cate{
    color: white;
    text-align: center;
    display: flex;
}
.cate:hover{
    color: red;
}
#avatar-vigo{
    text-align: center;
    border-radius: 60%;
    width: 50px;
    height: 60px;
}
.vigo{
    color: white;
    text-align: center;
    display: flex;
}
.vigo:hover{
    color: red;
}

#avatar-liv{
    text-align: center;
    border-radius: 60%;
    width: 50px;
    height: 60px;
}

.liv{
    color: white;
    text-align: center;
    display: flex;
}
.liv:hover{
    color: red;
}
#avatar-orlando{
    text-align: center;
    border-radius: 60%;
    width: 50px;
    height: 60px
}
.orlando{
    color: white;
    text-align: center;
    display: flex;
}
.orlando:hover{
    color: red;
}

#unordered-list{
    list-style: none;
}

.table {
    margin-left: 200px;
}

.footer {
    text-align: center;
    padding: 3px;
    background-color: #171717;
    color: white;
    width: 100%;
    left: 0%;
    bottom: 0%;
    float: left;
    padding: 30px 40px;
    color: #f2f2f2;
    text-align: center;
}
.footer a:hover{
    color: white;
}

.footer a{
    color: #919191;
}


@media only screen and (min-width: 768px){
    .toggle-collapse {
        display: none;
    }

}
@media only screen and (max-width: 768px){
    .table {
        display: none;
    }
    .w3-container{
        display: grid;
    }
    .topnav {
        display: none;
    }
    
}
    
.toggle-collapse {
    background-image: url(Images/Hamburger.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: grey;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    padding-bottom: 2px;
    width: 50px;
}